*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-user-container{
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 0 30px;
    padding-bottom: 20px;
}
.profile-info-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    gap: 15px;
    flex-direction: column;


}
.profile-info-user,.info-user{
    background-color: #e5e7eb;
    border-radius: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px
    8px -4px, rgba(9, 30, 66, 0.31) 0px 0px 16px ;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height:200px;
    margin: 0 auto;
    flex-direction: column;
}
.info-user{
    width: 100%;
}


.avatar-user{
    width: 100%;
    background-color:#111827;
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 8px 8px;
}

.avatar-user img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius:50px;
    padding: -5px;
    
}
.profile-user-descrition{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    padding: 0px 10px;
   margin-top: 10px;
}

.profile-user-descrition h2{
    font-size: 14px;
    font-weight: bold;
}
.profile-user-descrition p{
 
    text-align: left;
    line-height: 1.4em;
    letter-spacing: .5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    font-variant-numeric: normal;
    
    font-variant-east-asian: normal;
    font-feature-settings: "kern";
    font-variation-settings: normal;
    font-synthesis: weight style;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    tab-size: 4;
    max-width: 67ch;
    margin-top: 5px;

}
