*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbe4ff;
}
.sigin-in{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title-sigin-in{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    flex-direction: column;
}
.title-sigin-in h2{
    font-size: 30px;
    font-weight: 400;
}

.container-sigin-in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}
.input-area-sign-in{
    width: 400px;
    margin-bottom: 15px;
}
.input-area-sign-in input{
    border: none;
    height: 60px;
    padding: 8px;
    outline: none;
    font-size: 20px;
    color: #131313;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}



.area-btn-entrar{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    
}
.area-btn-entrar a{
    color:#131313;
    font-weight: 300;
    text-decoration: none;
}

.btnEntrar{
    height: 40px;
    width: 100%;
    background-color: #223dc5;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .3s ease-out;
    font-size: 20px;
    color: white;
    font-weight: 400;

}


.area-btn-entrar button:hover{
    background-color: #22c55e;
}
.barra-de-contas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.barra-de-contas hr{
    
    width: 115px;
    margin: 0 4px;
}
.barra-de-contas p{
    color: #131313;
    margin: 0px 10px;
}

.sign-in-optional{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btnRegistar{
    height: 40px;
    width: 100%;
    background-color: #22c579;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .3s ease-out;
    font-size: 20px;
    color: white;
    font-weight: bold;
}