
/* Estilos básicos para o footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section {
    width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #ffcc00;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    background-color: #222;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}
